<!DOCTYPE html>
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}psst-secret{% endblock %}</title>
        <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml">
        <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
        <script src="{% url 'javascript-catalog' %}"></script>
        <script defer src="{% static 'js/alpine.min.js' %}"></script>
        {% load whispers_extras %}
        {% settings_value "BRAND_COLORS" as brand_colors %}
        <style>
            :root {
                {% for shade, color in brand_colors.items %}
                --brand-{{ shade }}: {{ color }};
                {% endfor %}
            }
        </style>
        {% block extra_head %}{% endblock %}
    </head>
    <body class="h-full bg-gray-950 text-gray-100">
        {% block layout %}{% endblock %}
    </body>
</html>